<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Funcionários</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../../stylesheets/style.css">
</head>

<body>
  <div class="d-flex flex-row">
    <nav class="sidebar d-flex flex-column flex-shrink-0 p-3">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <img src="../../images/sidebar-logo.svg" alt="Logo Yamaha" class="img-fluid" />
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/projects" class="nav-link link-dark" aria-current="page">
            <i class="bi bi-kanban-fill"></i>Projetos
          </a>
        </li>
        <li>
          <a href="/roles" class="nav-link link-dark">
            <i class="bi bi-person-lines-fill"></i>Funções
          </a>
        </li>
        <li>
          <a href="/employees" class="nav-link active">
            <i class="bi bi-people-fill"></i>Funcionários
          </a>
        </li>
        <li>
          <a href="/dashboard/table" class="nav-link link-dark">
            <i class="bi bi-speedometer"></i>Dashboard
          </a>
        </li>
      </ul>
      <hr>
      <a href="/login" class="d-flex align-items-center link-dark text-decoration-none">
        <span class="me-2">
          <i class="bi bi-person-fill"></i>
        </span>
        <strong>jailson</strong>
      </a>
    </nav>
    <main class="flex-fill p-5">
      <h1 class="text-center mb-4">Lista de Funcionários</h1>
      <div>
        <form method="get" action="/employees">
          <fieldset>
            <legend>Mês e Ano (Obrigatório)</legend>
            <div class="row">
              <div class="col form-group mb-3">
                <label for="filter-month">Mês:</label>
                <select class="form-control" id="filter-month" name="month">
                  <option value="">-</option>
                  <option value="0">Janeiro</option>
                  <option value="1">Fevereiro</option>
                  <option value="2">Março</option>
                  <option value="3">Abril</option>
                  <option value="4">Maio</option>
                  <option value="5">Junho</option>
                  <option value="6">Julho</option>
                  <option value="7">Agosto</option>
                  <option value="8">Setembro</option>
                  <option value="9">Outubro</option>
                  <option value="10">Novembro</option>
                  <option value="11">Dezembro</option>
                </select>
              </div>
              <div class="col form-group mb-3">
                <label for="filter-year">Ano:</label>
                <select class="form-control" id="filter-year" name="year">
                  <option value="">-</option>
                  <option value="2022">2022</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                </select>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>Outros Filtros (Opcionais)</legend>
            <div class="row">
              <div class="col form-group mb-3">
                <label for="filter">Nome:</label>
                <input type="search" class="form-control" id="filter-name" placeholder="Ex: João" name="name">
              </div>
              <div class="col form-group mb-3">
                <label for="filter-location">Tipo de Contrato:</label>
                <select class="form-control" id="filter-outsourced" name="isOutsourced">
                  <option value="">Todos</option>
                  <option value="0">Interno</option>
                  <option value="1">Externo</option>
                </select>
              </div>
              <div class="col form-group mb-3">
                <label for="filter-department">Departamento:</label>
                <select class="form-control" id="filter-department" name="departmentId">
                  <option value="">Todos</option>
                  <% departments.forEach(department => { %>
                  <option value="<%= department.id %>"><%= department.name %></option>
                  <% }) %>
                </select>
              </div>
              <div class="col form-group mb-3">
                <label for="filter-location">Local:</label>
                <select class="form-control" id="filter-location" name="locationId">
                  <option value="">Todas</option>
                  <% locations.forEach(location => { %>
                  <option value="<%= location.id %>"><%= location.name %></option>
                  <% }) %>
                </select>
              </div>
            </div>
          </fieldset>
          <div class="row">
            <div class="col form-group mb-3 text-center">
              <button type="submit" class="text-center btn btn-lg btn-primary">Filtrar</button>
            </div>
          </div>
        </form>
      </div>
      <div>
        <table class="table table-hover">
            <tr>
              <th>Nome</th>
              <th>Horas alocadas/disponíveis/contratadas</th>
              <th>Função</th>
              <th>Tipo de Contrato</th>
              <th>Departamento</th>
              <th>Local</th>
            </tr>
            <% if (employees.length === 0) { %>
              <tr>
                <td colspan="6">Nenhum funcionário encontrado</td>
              </tr>
            <% } %>
            <% employees.forEach(function(employee) { %>
              <!-- Definir a carga de trabalho disponíveis para projetos -->
              <% const workload = employee.customWorkload || employee.Role.defaultWorkload %>
              <!-- Definir as horas de trabalho contratuais -->
              <% const legalWorkload = employee.contractedHours %>
              <!-- Definir as horas alocadas -->
              <% const totalHours = employee.Assignments
                .filter((assignment) => assignment.year === year && assignment.month === month)
                .reduce((acc, curr) => acc + curr.workHours, 0) %>
              <tr class=
                <% if (totalHours >= 1 * workload) { %>
                  "table-danger"
                <% } else if (totalHours >= 0.8 * workload) { %>
                  "table-warning"
                <% } else { %>
                  "table-success"
                <% } %>
              >
                <th scope="row"><a href="/employees/<%= employee.id %>"><%= employee.name %></a></th>
                <td>
                  <%= employee.Assignments.length > 0 ? totalHours : 0 %>
                  /
                  <%= workload %>
                  /
                  <%= legalWorkload %>
                </td>
                <td><%= employee.Role?.name %></td>
                <td><%= employee.isOutsourced ? 'Externo' : 'Interno' %></td>
                <td><%= employee.Department?.name %></td>
                <td><%= employee.Location?.name %></td>
              </tr>
            <% }); %>
        </table>
      </div>
      <div class="position-absolute top-0 end-0 my-5 mx-5">
        <a href="employees/new" href="" class="btn btn-primary btn-lg"><i class="bi
                                            bi-plus-lg"></i> Novo Funcionário</a>
      </div>
    </main>
  </div>
  <script>
    document.querySelector('#filter-month').value = "<%= month %>";
    document.querySelector('#filter-year').value = "<%= year %>";
    document.querySelector('#filter-name').value = "<%= name %>";
    document.querySelector('#filter-department').value = "<%= departmentId %>";
    document.querySelector('#filter-location').value = "<%= locationId %>";
    document.querySelector('#filter-outsourced').value = "<%= isOutsourced %>";
  </script>
</body>

</html>
